@import '~antd/dist/antd.css';

/* --ingre-blue: #0074ba;
   --ingre-white: #fff;
   --ingre-light-red: #fff9f7;
   --ingre-dark-brown: #b55f26;
   --ingre-eggshell: #f3ad61;
   --ingre-grey: #a5a5a5; */

/* manual overrides */

.ant-menu-item-selected,
.ant-menu-light.ant-menu-item:hover,
.ant-menu-item:hover,
.ant-menu-item a:hover,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: var(--ingre-dark-brown) !important;
  background-color: var(--ingre-light-red) !important;
}
.ant-menu-item-selected,
.ant-menu-item-selected.ant-menu-item-active {
  font-weight: bold;
  color: var(--ingre-dark-brown) !important;
}
.ant-menu-item::after {
  border-right: 3px solid var(--ingre-dark-brown) !important;
}
.ant-modal-title,
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon,
.ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: var(--ingre-dark-brown) !important;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: var(--ingre-dark-brown) !important;
}

.ant-menu,
.ant-menu-item-icon {
  font-size: 1.2rem !important;
}

.ant-menu-inline {
  margin-bottom: 0 !important;
}
.ant-menu-item {
  margin-top: 0 !important;
  padding: 0 1.2rem !important;
}

.ant-layout {
  background: var(--ingre-white);
}

.ant-menu {
  height: 100%;
}
.ant-form-item {
  margin-bottom: 0;

  /* height: 100% !important; */
}
.ant-form-item-control-input {
  align-items: flex-start;
}

.ant-input,
.ant-input-password {
  height: 100% !important;
  border-color: var(--ingre-dark-brown) !important;
  padding: 4px 8px !important;
}
.ant-input:hover,
.ant-input-password:hover {
  border-color: var(--ingre-eggshell) !important;
}
.ant-input:focus,
.ant-input-password:focus {
  border-color: var(--ingre-eggshell) !important;
  box-shadow: 0 0 0 2px rgba(243, 173, 97, 0.2) !important;
}

.ant-input-number {
  width: 100%;
}

.ant-input-number-input {
  padding: 0 !important;
}
.ant-form-item-input,
.ant-form-item-control-input-content,
.ant-form-item-control-input,
.ant-row.ant-form-item-row {
  height: 100% !important;
}

.ant-input-affix-wrapper {
  padding: 0 !important;
  background-color: transparent;
  border: none;
}
.ant-input-affix-wrapper:hover {
  border: none;
}

.ant-input-suffix {
  width: 1.5rem;
  justify-content: center;
  margin: -1.5rem;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
.ant-input-password:focus,
.ant-input-password:focus-visible,
.ant-input-password:active {
  box-shadow: 0 0 0 2px var(--ingre-eggshell) !important;
}
.ant-input-clear-icon {
  right: 4px !important;
}
a {
  color: inherit !important;
}

.dropdownFilter {
  width: 100%;
  max-width: 600px;
}

.ant-card-actions > li:not(:last-child) {
  border-right: none;
  margin-right: 4px;
}

.ant-card-actions > li {
  width: unset !important;
  margin: 4px 0;
}

.ant-card-actions {
  padding: 0 8px;
  border-radius: 0 0 1rem 1rem;
  border: none;
  justify-content: flex-end;
}
.ant-card-body {
  padding: 0 8px;
  margin-top: 4px;
}
.ant-card-meta {
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.ant-card-meta-title {
  white-space: break-spaces;
}
.ant-card {
  width: 300px;

  margin-bottom: 1rem;
  border-radius: 1rem;
  background: white;
  box-shadow: 0px 0px 3px 1px var(--ingre-dark-brown);
}

.explore-buttons > * > button {
  border-radius: 1rem;
}
.explore-buttons {
  display: flex;
  justify-content: center;
}
.search-recipes {
  display: flex;
  justify-content: center;
  width: 100%;
}
.ant-row {
  width: 100%;
  justify-content: center;
}
#q {
  border-radius: 1rem 0 0 1rem !important;
  border: 1px solid var(--ingre-blue) !important;
  border-right: none;
  font-size: 16px;
  padding: 2px 1rem !important;
  height: 40px !important;
}
.ant-input-search-button {
  background: var(--ingre-blue);
  width: 64px;
  justify-content: center;
  height: 40px !important;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0;
  border: 1px solid var(--ingre-blue) !important;
  border-left: none !important;
  border-radius: 0 1rem 1rem 0 !important;
}
.ant-cascader-menu {
  width: 50%;
  display: flex;
  flex-flow: column;
  height: fit-content;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: auto;
  background: transparent;
}
.ant-cascader-dropdown {
  border-radius: 0 0 1rem 1rem;
}

.ant-cascader-menu-item {
  overflow: unset;
}
.ant-image-mask {
  border-radius: 1rem 1rem 0 0;
}
/* search filters button */
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 1rem;
  border: 0;
  padding-left: 0.3rem;
  border: 1px solid var(--ingre-dark-brown);
  background: var(--ingre-white);
  padding: 1px 5px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  border: 1px solid var(--ingre-dark-brown);
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid var(--ingre-dark-brown);
  box-shadow: none;
  outline: 0;
}
.ant-select-multiple .ant-select-selection-placeholder {
  padding-left: 0.3rem;
  color: var(--ingre-dark-brown);
}

.ant-select-multiple .ant-select-selection-item {
  border: none;
  background: transparent;
  color: var(--ingre-dark-brown);
}
.ant-select-multiple .ant-select-selection-item-remove > .anticon {
  color: var(--ingre-blue);
  transform: translateY(2px);
}
textarea.ant-input {
  border-radius: 1rem;
}

.ant-btn:hover,
.ant-btn:focus {
  border-color: var(--ingre-dark-brown);
}
.ant-btn:active {
  color: var(--ingre-eggshell);
  border-color: var(--ingre-eggshell);
  background: #fff;
}

/* table */
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.ant-table-wrapper {
  width: 100%;
}
.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  padding: 2px;
}
.ant-table-cell {
  vertical-align: top;
}

/* Popover Buttons */
.ant-popover-inner-content {
  padding: 4px 8px;
}
.ant-popover-message {
  padding: 4px 0 8px;
}
.ant-popover-buttons button:first-child {
  margin-left: 0;
}

/* Editable rows */
.editable-row:hover .editable-cell-value-wrap {
  padding: 0;
  border: 0;
  background: var(--ingre-eggshell);
}
.editable-cell-value-wrap {
  padding: 0;
}

/* Back to top */
.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  width: 100%;
}
.my-masonry-grid_column {
  margin-left: 1rem;
  padding-left: 0px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}

.my-masonry-grid .ant-card-head {
  padding: 4px 8px;
}
.my-masonry-grid .ant-card-head-title {
  padding: 0;
}

.my-masonry-grid .ant-tag {
  padding: 0;
}

.my-masonry-grid .ant-checkbox-wrapper {
  margin-right: 4px;
}

.my-masonry-grid .ant-tag-checkable {
  margin-left: 24px;
  width: calc(100% - 24px);
  white-space: pre-wrap;
  padding: 0 0.6rem;
  border-radius: 1rem;
  background-color: var(--ingre-white);
  border: 1px solid var(--ingre-grey);
}

.my-masonry-grid .ant-checkbox-wrapper {
  margin-left: -32px;
  margin-right: 16px;
}

.my-masonry-grid .card-all-tapped {
  box-shadow: #00b050 0px 0px 0px 4px !important;
}
.my-masonry-grid .card-all-tapped > * > * > .ant-typography {
  border-radius: 1 rem 1rem 0 0;
  color: var(--ingre-green) !important;
}

.ant-tag-checkable-checked {
  background-color: var(--ingre-green) !important;
  border-color: transparent !important;
}
.ant-tag-checkable-checked .ant-typography {
  color: white !important;
}

.ant-space-vertical {
  gap: 4px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: transparent !important;
  border-color: transparent !important;
}
.ant-checkbox-checked .ant-checkbox-inner::after {
  position: absolute;
  display: table;
  border: 2px solid var(--ingre-green);
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(1) translate(-50%, -50%);
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  content: ' ';
}

/* search bar */
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border: none;
  box-shadow: none;
  outline: 0;
}

/* modal title  */
.ant-drawer-header {
  padding: 14.5px 24px;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid var(--ingre-grey);
}
.ant-drawer-close {
  padding: 1px 0;
}
.ant-drawer-right .ant-drawer-content-wrapper {
  width: calc(min(70%, 378px)) !important;
}

/* preview button */
ul.ant-card-actions > li:first-child {
  position: absolute;
  bottom: 0;
  left: 4px;
}
.preview-button {
  display: flex;
  align-items: center;
}
