@import '~antd/dist/antd.css';

/* --ingre-blue: #0074ba;
   --ingre-white: #fff;
   --ingre-light-red: #fff9f7;
   --ingre-dark-brown: #b55f26;
   --ingre-eggshell: #f3ad61;
   --ingre-grey: #a5a5a5; */

/* manual overrides */

.ant-menu-item-selected,
.ant-menu-light.ant-menu-item:hover,
.ant-menu-item:hover,
.ant-menu-item a:hover,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: var(--ingre-dark-brown) !important;
  background-color: var(--ingre-light-red) !important;
}
.ant-menu-item-selected,
.ant-menu-item-selected.ant-menu-item-active {
  font-weight: bold;
  color: var(--ingre-dark-brown) !important;
}
.ant-menu-item::after {
  border-right: 3px solid var(--ingre-dark-brown) !important;
}
.ant-modal-title,
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon,
.ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: var(--ingre-dark-brown) !important;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: var(--ingre-dark-brown) !important;
}

.ant-menu,
.ant-menu-item-icon {
  font-size: 1.2rem !important;
}

.ant-menu-inline {
  margin-bottom: 0 !important;
}
.ant-menu-item {
  margin-top: 0 !important;
  padding: 0 1.2rem !important;
}

.ant-layout {
  background: var(--ingre-white);
}

.ant-menu {
  height: 100%;
}
.ant-form-item {
  margin-bottom: 0;
  height: 100% !important;
}
.ant-form-item-control-input {
  align-items: flex-start;
}
.ant-input,
.ant-input-password {
  height: 100% !important;
  border-color: var(--ingre-dark-brown) !important;
  padding: 4px 8px !important;
}
.ant-input:hover,
.ant-input-password:hover {
  border-color: var(--ingre-eggshell) !important;
}
.ant-input:focus,
.ant-input-password:focus {
  border-color: var(--ingre-eggshell) !important;
  box-shadow: 0 0 0 2px rgba(243, 173, 97, 0.2) !important;
}

.ant-input-number {
  width: 100%;
}

.ant-input-number-input {
  padding: 0 !important;
}
.ant-form-item-input,
.ant-form-item-control-input-content,
.ant-form-item-control-input,
.ant-row.ant-form-item-row {
  height: 100% !important;
}

.ant-input-affix-wrapper {
  padding: 0 !important;
}
.ant-input-suffix {
  width: 1.5rem;
  justify-content: center;
  margin: auto;
}
.ant-input-password:focus,
.ant-input-password:focus-visible,
.ant-input-password:active {
  box-shadow: 0 0 0 2px var(--ingre-eggshell) !important;
}
.ant-input-clear-icon {
  right: 4px !important;
}
a {
  color: inherit !important;
}
.ant-input-search-button {
  border: 0;

  font-size: 0.7rem;
  margin-top: -1px;
  background: var(--ingre-blue);
}

.dropdownFilter {
  width: 100%;
  max-width: 600px;
}

.ant-input-search-button {
  height: 31px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--ingre-dark-brown);
  border-left: none;
}
.ant-card-actions > li:not(:last-child) {
  border-right: none;
  margin-right: 4px;
}

.ant-card-actions > li {
  width: unset !important;
  margin: 4px 0;
}

.ant-card-actions {
  padding: 0 8px;
  border-radius: 0 0 1rem 1rem;
  border: none;
  justify-content: flex-end;
}
.ant-card-body {
  padding: 0 8px;
  margin-top: 4px;
}
.ant-card-meta {
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.ant-card-meta-title {
  white-space: break-spaces;
}
.ant-card {
  width: 300px;

  margin-bottom: 1rem;
  border-radius: 1rem;
  background: white;
  box-shadow: 0px 0px 3px 1px var(--ingre-blue);
}

.explore-buttons > * > button {
  border-radius: 1rem;
}
.explore-buttons {
  display: flex;
  justify-content: center;
}
.search-recipes {
  display: flex;
  justify-content: center;
  width: 100%;
}
.ant-row {
  width: 100%;
  justify-content: center;
}
#q {
  border-radius: 1rem 0 0 1rem !important;
  border: 1px solid var(--ingre-blue) !important;
  border-right: none;
  font-size: 16px;
  padding: 2px 1rem !important;
  height: 40px !important;
}
.ant-input-search-large .ant-input-search-button {
  height: 40px !important;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0;
  border: none !important;
  border-radius: 0 !important;
  border-radius: 0 1rem 1rem 0 !important;
}
.ant-cascader-menu {
  width: 50%;
  display: flex;
  flex-flow: column;
  height: fit-content;
  max-height: 50vh;
  overflow-y: auto;
  background: transparent;
}
.ant-cascader-dropdown {
  border-radius: 0 0 1rem 1rem;
}

.ant-cascader-menu-item {
  overflow: unset;
}
.ant-image-mask {
  border-radius: 1rem 1rem 0 0;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 1rem;
  border: 0;
  padding-left: 0.3rem;
  border: 1px solid var(--ingre-dark-brown);
  background: var(--ingre-white);
  padding: 1px 5px;
}
.ant-select-multiple .ant-select-selection-placeholder {
  padding-left: 0.3rem;
  color: var(--ingre-dark-brown);
}

.ant-select-multiple .ant-select-selection-item {
  border: none;
  background: transparent;
  color: var(--ingre-dark-brown);
}
.ant-select-multiple .ant-select-selection-item-remove > .anticon {
  color: var(--ingre-blue);
  transform: translateY(2px);
}
textarea.ant-input {
  border-radius: 1rem;
}
