@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@95,800&family=Poppins&display=swap');

:root {
  --ingre-blue: #0074ba;
  --ingre-white: #fff;
  --ingre-light-red: #fff9f7;
  --ingre-dark-brown: #b55f26;
  --ingre-eggshell: #f3ad61;
  --ingre-grey: #a5a5a5;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
 */
