@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@95,800;100,400&family=Poppins&display=swap');

:root {
  --ingre-blue: #0074ba;
  --ingre-white: #fff;
  --ingre-light-red: #fff9f7;
  --ingre-dark-brown: #b55f26;
  --ingre-eggshell: #f3ad61;
  --ingre-grey: #a5a5a5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
/**************
 * Page *
 **************/
.content {
  background-color: var(--ingre-light-red);
  padding: 1rem;
}
.page-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

/**************
 * Header *
 **************/
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
  list-style-type: none;
  border-bottom: 1px solid var(--ingre-grey);
}
.navbar-left,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.hamburger {
  margin-right: 1rem;
  color: var(--ingre-dark-brown);
  font-size: 30px;
}
.ingre-logo {
  color: var(--ingre-eggshell);
  font-size: 30px;
}
.ingre-logo-text {
  font-size: 30px;
}
.ingre-text {
  color: var(--ingre-dark-brown);
  font-weight: 800;
  font-size: 20px;
}

a,
a:visited,
a:focus,
a.active {
  text-decoration: none;
  color: var(--ingre-dark-brown);
}

/**************
 * Titles *
 **************/

.content-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3rem;
  color: var(--ingre-dark-brown);
  font-family: 'Open Sans', sans-serif;
}
.content-subtitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3rem;
  color: var(--ingre-dark-brown);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/**************
 * RecipeList *
 **************/

.recipe-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

/*********************
 * RecipeListItem *
 *********************/
.recipe-card {
  font-family: 'Poppins', sans-serif;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 4px 0px var(--ingre-blue);
  border-radius: 1rem;
  margin: 0 0.3rem 1rem 0.3rem;
}
.recipe-card .card-header {
  height: 94px;
  font-size: 16px;
  color: var(--ingre-blue);
  display: flex;
  justify-content: space-between;
  padding-left: 0.3rem;
}
.recipe-card .card-header .header-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recipe-card .card-header .header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recipe-card .card-header .header-right .card-title-button {
  border-radius: 50%;
  border: none;
  background-color: #fff;

  margin: 0 0.4rem;
  font-size: 1.5rem;
  color: var(--ingre-dark-brown);
}

/* the save button */
.header-right .card-title-button:nth-child(2) {
  font-size: 2rem !important;
}

.recipe-card .card-body {
  height: 200px;
}
.recipe-card .card-body .card-image {
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 300px;
  border-radius: 0 0 1rem 1rem;
}
