@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@95,800&family=Poppins&display=swap');

:root {
  --ingre-blue: #0074ba;
  --ingre-white: #fff;
  --ingre-light-red: #fff9f7;
  --ingre-dark-brown: #b55f26;
  --ingre-eggshell: #f3ad61;
  --ingre-grey: #a5a5a5;
  --ingre-green: #00b050;
}
* {
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100vh !important;
}

section.ant-layout {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--ingre-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ingre-dark-brown);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--ingre-dark-brown);
}
