.ant-form-item {
  margin-bottom: 0;
}
.ant-form-item-control-input {
  align-items: flex-start;
}
.ant-input,
.ant-input-password {
  height: 100% !important;
  border-color: var(--ingre-dark-brown) !important;
  padding: 4px 8px !important;
}
.ant-input:hover,
.ant-input-password:hover {
  border-color: var(--ingre-eggshell) !important;
}
.ant-input:focus,
.ant-input-password:focus {
  border-color: var(--ingre-eggshell) !important;
  box-shadow: 0 0 0 2px rgba(243, 173, 97, 0.2) !important;
}

.ant-input-number {
  width: 100%;
}

.ant-input-number-input {
  padding: 0 !important;
}
.ant-form-item-input,
.ant-form-item-control-input-content,
.ant-form-item-control-input,
.ant-row.ant-form-item-row {
  height: 100% !important;
}

.ant-input-affix-wrapper {
  padding: 0 !important;
  background-color: transparent;
  border: none;
}
.ant-input-affix-wrapper:hover {
  border: none;
}

.ant-input-suffix {
  width: 1.5rem;
  justify-content: center;
  margin: -1.5rem;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
.ant-input-password:focus,
.ant-input-password:focus-visible,
.ant-input-password:active {
  box-shadow: 0 0 0 2px var(--ingre-eggshell) !important;
}
.ant-input-clear-icon {
  right: 4px !important;
}
.ant-input-search-button {
  background: var(--ingre-blue);
  width: 64px;
  justify-content: center;
  height: 40px !important;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0;
  border: 1px solid var(--ingre-blue) !important;
  border-left: none !important;
  border-radius: 0 1rem 1rem 0 !important;
}
/* search bar */
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border: none;
  box-shadow: none;
  outline: 0;
}
.dropdownFilter {
  width: 100%;
  max-width: 600px;
}
.ant-cascader-menu {
  width: 50%;
  display: flex;
  flex-flow: column;
  height: fit-content;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: auto;
  background: transparent;
}
.ant-cascader-dropdown {
  border-radius: 0 0 1rem 1rem;
}

.ant-cascader-menu-item {
  overflow: unset;
}
/* search filters button */
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 1rem;
  border: 0;
  padding-left: 0.3rem;
  border: 1px solid var(--ingre-dark-brown);
  background: var(--ingre-white);
  padding: 1px 5px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  border: 1px solid var(--ingre-dark-brown);
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid var(--ingre-dark-brown);
  box-shadow: none;
  outline: 0;
}
.ant-select-multiple .ant-select-selection-placeholder {
  padding-left: 0.3rem;
  color: var(--ingre-dark-brown);
}

.ant-select-multiple .ant-select-selection-item {
  border: none;
  background: transparent;
  color: var(--ingre-dark-brown);
}
.ant-select-multiple .ant-select-selection-item-remove > .anticon {
  color: var(--ingre-blue);
  transform: translateY(2px);
}
textarea.ant-input {
  border-radius: 1rem;
}
