.ant-menu-item-selected,
.ant-menu-light.ant-menu-item:hover,
.ant-menu-item:hover,
.ant-menu-item a:hover,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: var(--ingre-dark-brown) !important;
  background-color: var(--ingre-light-red) !important;
}
.ant-menu-item-selected,
.ant-menu-item-selected.ant-menu-item-active {
  font-weight: bold;
  color: var(--ingre-dark-brown) !important;
}
.ant-menu-item::after {
  border-right: 3px solid var(--ingre-dark-brown) !important;
}
.ant-menu,
.ant-menu-item-icon {
  font-size: 1.2rem !important;
}

.ant-menu-inline {
  margin-bottom: 0 !important;
}
.ant-menu-item {
  margin-top: 0 !important;
  padding: 0 1.2rem !important;
}
.ant-menu {
  height: 100%;
}
