/* table */
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.ant-table-wrapper {
  width: 100%;
}
.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  padding: 2px;
}
.ant-table-cell {
  vertical-align: top;
}

/* Popover Buttons */
.ant-popover-inner-content {
  padding: 4px 8px;
}
.ant-popover-message {
  padding: 4px 0 8px;
}
.ant-popover-buttons button:first-child {
  margin-left: 0;
}

/* Editable rows */
.editable-row:hover .editable-cell-value-wrap {
  padding: 0;
  border: 0;
  background: var(--ingre-eggshell);
}
.editable-cell-value-wrap {
  padding: 0;
}
