#q {
  border-radius: 1rem 0 0 1rem !important;
  border: 1px solid var(--ingre-blue) !important;
  border-right: none;
  font-size: 16px;
  padding: 2px 1rem !important;
  height: 40px !important;
}

/* search bar */
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border: none;
  box-shadow: none;
  outline: 0;
}
.dropdownFilter {
  width: 100%;
  max-width: 600px;
}
.ant-cascader-menu {
  width: 50%;
  display: flex;
  flex-flow: column;
  height: fit-content;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: auto;
  background: transparent;
}
.ant-cascader-dropdown {
  border-radius: 0 0 1rem 1rem;
}

.ant-cascader-menu-item {
  overflow: unset;
}
/* search filters button */
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 1rem;
  border: 0;
  padding-left: 0.3rem;
  border: 1px solid var(--ingre-dark-brown);
  background: var(--ingre-white);
  padding: 1px 5px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  border: 1px solid var(--ingre-dark-brown);
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid var(--ingre-dark-brown);
  box-shadow: none;
  outline: 0;
}
.ant-select-multiple .ant-select-selection-placeholder {
  padding-left: 0.3rem;
  color: var(--ingre-dark-brown);
}

.ant-select-multiple .ant-select-selection-item {
  border: none;
  background: transparent;
  color: var(--ingre-dark-brown);
}
.ant-select-multiple .ant-select-selection-item-remove > .anticon {
  color: var(--ingre-blue);
  transform: translateY(2px);
}
